body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.wrap-content {

	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 -5px 9px 2px #dbdbdb;
}

.intro-header,
.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.intro-header {
	display: block;
	width: 430px;
	margin-top: 60px;
	margin-left: 380px;
}

.reasons-text {
    margin-top: 37px;
	margin-bottom: 60px;
}

.catalog-item .button-type1,
.hotel-search .button-type1,
.catalog-hotels .button-type1 {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
    
    background-color: #766357;
	border: none;
}

.catalog-item .button-type1:hover,
.catalog-item .button-type1:focus,
.hotel-search .button-type1:hover,
.hotel-search .button-type1:focus,
.catalog-hotels .button-type1:hover,
.catalog-hotels .button-type1:focus {
	background-color: #604e43;
}

.catalog-item .button-type1:active,
.hotel-search .button-type1:active,
.catalog-hotels .button-type1:active {
    color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}


.catalog-item .button-type2,
.catalog-hotels .button-type2 {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
    
    background-color: #81b3d2;
	border: none;
}

.catalog-item .button-type2:hover,
.catalog-item .button-type2:focus,
.catalog-hotels .button-type2:focus,
.catalog-hotels .button-type2:hover {
	background-color: #669ec0;
}

.catalog-item .button-type2:active
.catalog-hotels .button-type2:active {
    color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.hotel-detail-book .button-type2 {
	display: inline-block;

	width: 110px;
	height: 27px;

	padding-top: 4px;

	box-sizing: border-box;
}

.hotel-detail-book .button-type1 {
	display: inline-block;

	width: 142px;
	height: 27px;


	padding-top: 4px;

	box-sizing: border-box;
}

.site-navigation {
	
	display: flex;
	justify-content: space-around;
	align-items: center;

	position: relative;
	
    margin: 0;
	padding-top: 15px;
	padding-right: 6%;
	padding-bottom: 15px;
	padding-left: 6%;

	background-color: #ffffff; 
}

.site-navigation li {

	width: 20%;
	text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {

	text-align: right;
}

.logo {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;

	background-color: #ffffff;
}

.site-navigation,
.catalog li,
.catalog-hotels {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.main-navigation .current-link {
	color: #766357;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #c4dcea;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.container {
	margin-bottom: 0px;
}

.catalog-item a {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;	
	color: #000000;
}

.catalog-hotels a {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;	
	color: #000000;
}

.catalog-item a:hover,
.catalog-item a:focus {
	color: #c4dcea;
}

.catalog-item a:active {
	color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {

  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.intro {
	display: block;
	position: relative;

	height: 432px;
	padding-top: 76px;

	margin-top: 0px;
     	

    background-image: url("../img/BackgroundPhoto.jpg");
    background-color: #715a58;

    background-size: cove;

}

.intro img {

	display: block;
	
	margin: auto auto;

}

.intro::after {

    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 57px;

	background: url("../img/MaskBackground.png") no-repeat;
	background-size: 100% 57px;

}


.about {
	text-align: center;
}

.about h3 {
	font-size: 21px;
	line-height: 21px;
}

.reason-item h3 {

	width: 166px;
}


.reason {
	list-style: none;
}

.reason-photo {

	display: flex;


    height: 256px;
	line-height: 26px;

	background-color: #81b3d2;
	color: #ffffff;

	overflow: hidden;

}

.reason-item {
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 400px;
}

.reason-item p {
	width: 254px;
}


.reason {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0px;
	padding-top: 57px;
	padding-left: 0;
	padding-bottom: 85px;   
}

.reason-advice {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;

}

.reason-advice p {
    
    margin: 0;
	width: 288px;
}


.ordinary-reason {

	background-color: #eeeeee;
}

.ordinary-reason .reason {
	padding-top: 50px;
	padding-bottom: 65px;
}

.ordinary-reason h3 {
	width: 122px;
	padding-left: 70px;
	margin-top: 0px;
}

.ordinary-reason p {
	width: 263px;
}

.hotel-search {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.hotel-search b {

	margin-top: 56px;

    font-size: 30px;
	line-height: 36px;

	font-weight: 700;
}

.hotel-search p {
	white-space: pre;
	text-align: center;

	margin-top: 37px;
	margin-bottom: 55px;
}

.hotel-search .button-type1 {
	display: inline-block;

	padding-top: 30px;
	padding-bottom: 30px;

	width: 568px;
	height: 86px;

	font-size: 21px;
	line-height: 26px; 

	box-sizing: border-box;
}

.map {
	margin-top: 0;
	position: relative;
}

.form {
	position: absolute;

	top: 0;
	left: 316px;

    width: 458px;
	padding: 55px;

	font-weight: 700;
	font-size: 14px;
	color: #000000;

	background-color: #ffffff;
}

.hotel-search-date-in,
.hotel-search-date-out {
	display: block;
	position: relative;
}

.hotel-search-date-in {
	margin-top: 0;
}

.hotel-date[type="text"] {
	width: 281px;
	margin-bottom: 20px;
    margin-left: 20px;
    
    padding-top: 6.5px;
    padding-right: 40px;
    padding-bottom: 6.5px;
    padding-left: 15px;

    border: 2px solid #f2f2f2;

}

.hotel-search-date-out .hotel-date[type="text"] {
	margin-left: 17px;
}

.hotel-date[type="text"]:hover,
.hotel-amount[type="text"]:hover {

	background-color: #ebebeb;
	border: 2px solid #ebebeb;
}

.hotel-date[type="text"]:focus,
.hotel-date[type="text"]:active,
.hotel-amount[type="text"]:focus,
.hotel-amount[type="text"]:active {

	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.calendar-icon {
	position: absolute;
	right: 15px;
	margin-top: 5px;
    
	fill: #cacaca;
}

.calendar-icon:hover {
    fill: #000000;
}

.calendar-icon:focus,
.calendar-icon:active {
    fill: #81b3d2;
}

.hotel-search-adults {
	display: inline-block;
	position: relative;
}


.hotel-search-kids {
	display: inline-block;
	position: relative;
	margin-left: 40px;
}

.hotel-search-kids .hotel-amount[type="text"] {
	margin-left: 20px;
}

.hotel-amount[type="text"] {

    width: 40px;
	margin-bottom: 20px;
    margin-left: 20px;
    
    padding-top: 6.5px;
    padding-right: 37px;
    padding-bottom: 6.5px;
    padding-left: 37px;

    border: 2px solid #f2f2f2;
    text-align: center;
}

.minus {
  position: absolute;

  width: 12px;
  height: 3px;

  left: 126px;
  top: 18px; 
}

.hotel-search-kids .minus {
	left: 77px;
}

.minus::before {
  content: "";
  display: block;
  position: absolute;

  width: 100%;
  height: 100%;

  background: #a9a9a9;  
}

.minus:hover::before,
.plus:hover::before,
.plus:hover::after {
	background: #000000;
}

.minus:active::before,
.plus:active::before,
.plus:active::after {
	background: #81b3d2;
}

.plus {
  position: absolute;

  width: 11px;
  height: 11px;

  left: 203px;
  top: 18px; 
}

.hotel-search-kids .plus {
	left: 154px;
}


.plus::before,
.plus::after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background: #a9a9a9;
}

.plus::after {
  top: 50%;
  transform: translateY(-90%);
}

.plus::before {
  transform: rotate(90deg);
  top: 8px; 
}

.hotel-search-adults .hotel-amount {
	margin-left: 36px;
}



.hotel-search-form input {
	font: inherit;

	background-color: #f2f2f2;
	border: none;
}

.hotel-search-form input:hover {
	background-color: #ebebeb;
}

.hotel-search-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.submit-hotel-form {
	display: block;
	width: 458px;

	margin-top: 40px;
	padding-top: 17px;
	padding-bottom: 22px;

	font-size: 21px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
    
    border: none;
	border-radius: 0;
	background-color: #81b3d2;
}

.submit-hotel-form:hover,
.submit-hotel-form:focus {
	background-color: #669ec0;
}

.submit-hotel-form:active {
	background-color: #5496bd;
	color: #94b9d2;
}


.main-footer {
	display: flex;
	justify-content: space-around;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.9);
}

.social {
	display: flex;
	justify-content: space-between;
	width: 150px;

	padding-left: 0;
}

.twitter-button,
.facebook-button,
.youtube-button {
    display: block;
    position: relative;
    vertical-align: middle;
    width: 13px;
    height: 19px;
    padding: 15px 17px 14px 16px;
}

.facebook-button svg,
.youtube-button svg,
.twitter-button svg {
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.footer-copyright {
	display: flex;
	justify-content: space-between;
}

.websiteby {
	align-self: center;
	margin-right: 5px;
}

.social {
	text-align: center;
}

.social {
	list-style: none;
}

.social-button {

	color: #ffffff;

	background-color: #81b3d2;
}

.social-button svg {
	fill: #ffffff;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active svg {
	fill: #88b6d1;
}

.academy-link {
	display: block;
	width: 115px;
	height: 41px;
}

.academy-link svg {
	fill: #000000;
}

.academy-link:hover svg,
.academy-link:focus svg {
	fill: #81b3d2;
}

.academy-link:active svg {
	fill: rgba(0, 0, 0, 0.3);
}


.filters {
	color: #ffffff;

	background-color: #333333;
	background-image: url("../img/filter-hotels-background.jpg");
	background-repeat: no-repeat;

	width: 1200px;

	box-sizing: border-box;
}

.catalog {
	display: flex;
    justify-content: space-around;
	align-items: baseline;

	width: 1200px;
}

.catalog-hotels {
	padding-left: 0;
}

.hotel-wrap {
	display: flex;
	justify-content: space-between;

	width: 1200px;
	border-top: 1px solid #e5e5e5;

	padding: 30px 70px 30px 70px;
	box-sizing: border-box;
}

.hotel-info-wrap {
	display: flex;
	justify-content: space-between;

	width: 425px;
}

.hotel-detail-book-wrap {
	display: flex;
    flex-direction: column;

	width: 260px;
}

.hotel-rating {
	display: flex;
	flex-direction: column;
}

.catalog-hotels:last-child {
	border-bottom: 1px solid #e5e5e5;
}


.sorting-range {
	display: flex;
	justify-content: space-between;

	width: 250px;
	padding-left: 0;
	box-sizing: border-box;
}

.found-inscription {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.sorting-inscription {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.sorting-active {
	color: #81b3d2;
}

.sorting-unactive {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: dotted 1px rgba(0, 0, 0, 0.3);
}

.sorting-unactive:hover,
.sorting-unactive:focus {
	color: #81b3d2;
	border-bottom: dotted 1px #81b3d2;
}

.sorting-unactive:active {
	color: #000000;
	border-bottom: none;
}

.least-most svg {
	fill: #81b3d2;
}

.most-least svg {
	fill: #cacaca;
}

.least-most:hover svg,
.most-least:hover svg {
	fill: #000000;
}

.least-most:active svg,
.most-least:active svg {
	fill: #81b3d2;
}


