body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

.container,
.hotel-search {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.wrap-content {
    width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0 -5px 9px 2px #dbdbdb;
            box-shadow: 0 -5px 9px 2px #dbdbdb;
}

.intro-header,
.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.intro-header {
    display: block;
    width: 470px;
    margin-top: 60px;
    margin-left: 362px;
}

.reasons-text {
    margin-top: 28px;
    margin-bottom: 55px;
}

.catalog-item .button-type1,
.hotel-search .button-type1,
.catalog-hotels .button-type1 {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;

    background-color: #766357;
    border: none;
}

.catalog-item .button-type1:hover,
.catalog-item .button-type1:focus,
.hotel-search .button-type1:hover,
.hotel-search .button-type1:focus,
.catalog-hotels .button-type1:hover,
.catalog-hotels .button-type1:focus {
    background-color: #604e43;
    color: #ffffff;
}

.catalog-item .button-type1:active,
.hotel-search .button-type1:active,
.catalog-hotels .button-type1:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}


.catalog-item .button-type2,
.catalog-hotels .button-type2 {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;

    background-color: #81b3d2;
    border: none;
}

.catalog-item .button-type2:hover,
.catalog-item .button-type2:focus,
.catalog-hotels .button-type2:focus,
.catalog-hotels .button-type2:hover {
    background-color: #669ec0;

    color: #ffffff;
}

.catalog-item .button-type2:active,
.catalog-hotels .button-type2:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;

}

.hotel-detail-book .button-type2 {
    display: inline-block;

    width: 110px;
    height: 27px;

    padding-top: 4px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
}

.hotel-detail-book .button-type1 {
    display: inline-block;

    width: 142px;
    height: 27px;

    padding-top: 4px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    position: relative;
    margin: 0;
    padding-top: 15px;
    padding-right: 70px;
    padding-bottom: 15px;
    padding-left: 70px;

    background-color: #ffffff;
}

.site-navigation li {
    width: 240px;
    text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
    text-align: right;
}

.site-navigation li:nth-child(2) {
    padding-left: 80px;
    margin-right: 90px;
}

.site-navigation li:nth-child(3) {
    padding-right: 4px;
}

.logo {
    position: absolute;
    top: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 2;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;

    background-color: #ffffff;
}

.site-navigation li:nth-child(2) {
    margin-left: -80px;
}

.site-navigation,
.catalog li,
.catalog-hotels {
    list-style: none;
}

.site-navigation a {
    color: #000000;
}

.main-navigation .current-link {
    color: #766357;
}

.site-navigation a:not(.current-link):hover,
.site-navigation a:not(.current-link):focus {
    color: #c4dcea;
}

.site-navigation a:not(.current-link):active {
    color: rgba(0, 0, 0, 0.3);
}

.container {
    margin-bottom: 0px;
}

.catalog-item a {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.catalog-hotels a {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.catalog-hotels a:hover,
.catalog-hotels a:focus {
    color: #81b3d2;
}

.catalog-hotels a:active {
    color: #cacaca;
}

.catalog-item a:hover,
.catalog-item a:focus {
    color: #c4dcea;
}

.catalog-item a:active {
    color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.intro {
    display: block;
    position: relative;

    height: 431px;
    padding-top: 77px;

    margin-top: 0px;

    background-image: url("../img/BackgroundPhoto.jpg");
    background-color: #715a58;

    background-size: cover;

}

.intro img {
    display: block;

    margin: auto auto;

}

.intro::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 57px;

    background: url("../img/MaskBackground.png") no-repeat;
    background-size: 100% 57px;

}


.about {
    text-align: center;
}

.about h3 {
    font-size: 21px;
    line-height: 21px;

    padding-top: 10px;
}

.reason-item h3 {
    width: 166px;
}

.reason {
    list-style: none;
}

.reason-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    line-height: 21px;

    background-color: #81b3d2;
    color: #ffffff;

}

.photo-wrap {
    position: relative;
    width: 800px;
    height: 256px;
    overflow: hidden;
}

.photo-wrap img {
    position: absolute;
    left: 0;
    top: -80px;
}

.reason-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 400px;
    padding: 30px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
}

.reason-item.reason-devil {
    padding-top: 15px;
}

.reason-item p {
    width: 305px;
    padding-top: 8px;
    padding-right: 2px;
}

.reason-city .reason-name {
    padding-top: 0;
}

.reason {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
    padding-top: 60px;
    padding-left: 0;
    padding-bottom: 80px;
}

.reason-advice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 400px;

}

.reason-advice p {
    margin: 0;
    width: 288px;

    padding-top: 3px;
}


.ordinary-reason {
    background-color: #eeeeee;
}

.reason-ordinary {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.ordinary-reason .reason {
    padding-top: 40px;
    padding-bottom: 45px;
}

.ordinary-reason h3 {
    width: 122px;
    padding-left: 70px;
    margin-top: 0px;
}

.ordinary-reason p {
    width: 263px;
    padding-top: 7px;
    padding-right: 7px;
}

.hotel-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hotel-search b {
    margin-top: 54px;

    font-size: 30px;
    line-height: 36px;

    font-weight: 700;
}

.hotel-search p {
    white-space: pre;
    text-align: center;

    line-height: 24px;

    margin-top: 20px;
    margin-bottom: 50px;
}

.hotel-search .button-type1 {
    padding-top: 30px;
    padding-bottom: 30px;

    width: 568px;
    height: 85px;

    font-size: 21px;
    line-height: 26px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.map {
    margin-top: 0;
    position: relative;
}

.form {
    position: absolute;

    z-index: -1;

    top: -393px;
    left: 316px;

    width: 458px;
    padding: 55px;

    font-weight: 700;
    font-size: 14px;
    color: #000000;

    background-color: #ffffff;
}

@-webkit-keyframes bounce {
    0% { -webkit-transform: scaleY(-0); transform: scaleY(-0);}
    0% { -webkit-transform-origin: 0 0 0; transform-origin: 0 0 0;}
    100% { -webkit-transform: scaleY(1); transform: scaleY(1);}
    100% { -webkit-transform-origin: 0 0 0; transform-origin: 0 0 0;}
}

@keyframes bounce {
    0% { -webkit-transform: scaleY(-0); transform: scaleY(-0);}
    0% { -webkit-transform-origin: 0 0 0; transform-origin: 0 0 0;}
    100% { -webkit-transform: scaleY(1); transform: scaleY(1);}
    100% { -webkit-transform-origin: 0 0 0; transform-origin: 0 0 0;}
}

.form-visible {
    position: absolute;
    -webkit-animation-name: bounce;
            animation-name: bounce;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;

    top: 0px;
    left: 316px;

    width: 458px;
    padding: 55px;

    font-weight: 700;
    font-size: 14px;
    color: #000000;

    background-color: #ffffff;

}

.hotel-search-date-in,
.hotel-search-date-out {
    width: 459px;

    display: block;
    position: relative;

    margin-bottom: 0;
}

.hotel-search-date-in {
    margin-top: 0;
    margin-bottom: 0;
}

.hotel-date[type="text"] {
    width: 290px;
    margin-bottom: 15px;
    margin-left: 20px;
    padding-top: 6.5px;
    padding-right: 40px;
    padding-bottom: 6.5px;
    padding-left: 10px;

    border: 2px solid #f2f2f2;

}

.hotel-search-date-out .hotel-date[type="text"] {
    margin-left: 17px;
}

.hotel-date[type="text"]:hover,
.hotel-amount[type="text"]:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}

.hotel-date[type="text"]:focus,
.hotel-date[type="text"]:active,
.hotel-amount[type="text"]:focus,
.hotel-amount[type="text"]:active {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.calendar-icon {
    position: absolute;
    right: 9px;
    top: 8px;
    fill: #cacaca;
}

.calendar-icon:hover {
    fill: #000000;
}

.calendar-icon:focus,
.calendar-icon:active {
    fill: #81b3d2;
}

.hotel-search-adults {
    display: inline-block;
    position: relative;

    margin-top: 0;
}


.hotel-search-kids {
    display: inline-block;
    position: relative;
    margin-left: 50px;
}

.hotel-search-kids .hotel-amount[type="text"] {
    margin-left: 25px;
}

.hotel-amount[type="text"] {

    width: 35px;
    margin-bottom: 20px;
    margin-left: 20px;

    padding-top: 6.5px;
    padding-right: 37px;
    padding-bottom: 6.5px;
    padding-left: 37px;

    border: 2px solid #f2f2f2;
    text-align: center;
}

.minus {
  position: absolute;

  width: 12px;
  height: 3px;

  left: 126px;
  top: 18px;
}

.hotel-search-kids .minus {
    left: 77px;
}

.minus::before {
  content: "";
  display: block;
  position: absolute;

  width: 100%;
  height: 100%;

  background: #a9a9a9;
}

.minus:hover::before,
.plus:hover::before,
.plus:hover::after {
    background: #000000;
}

.minus:active::before,
.plus:active::before,
.plus:active::after {
    background: #81b3d2;
}

.plus {
  position: absolute;

  width: 11px;
  height: 11px;

  left: 203px;
  top: 18px;
}

.hotel-search-kids .plus {
    left: 154px;
}

.plus::before,
.plus::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #a9a9a9;
}

.plus::after {
  top: 50%;
  -webkit-transform: translateY(-90%);
      -ms-transform: translateY(-90%);
          transform: translateY(-90%);
}

.plus::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 8px;
}

.hotel-search-adults .hotel-amount {
    margin-left: 36px;
}

.hotel-search-form input {
    font: inherit;

    background-color: #f2f2f2;
    border: none;
}

.hotel-search-form input:hover {
    background-color: #ebebeb;
}

.hotel-search-form input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.submit-hotel-form {
    display: block;
    width: 458px;

    margin-top: 20px;
    padding-top: 17px;
    padding-bottom: 16px;
    padding-left: 5px;

    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    border: none;
    border-radius: 0;
    background-color: #81b3d2;
}

.submit-hotel-form:hover,
.submit-hotel-form:focus {
    background-color: #669ec0;
}

.submit-hotel-form:active {
    background-color: #5496bd;
    color: #94b9d2;
}


.main-footer {
    position: absolute;

    bottom: 0;

    padding-top: 22px;
    padding-bottom: 10px;
    padding-left: 130px;
    padding-right: 101px;

    background-color: rgba(255, 255, 255, 0.9);

}

.main-footer.inner-footer {
    position: relative;
}

.footer-wrap-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 969px;
}

.hashtag {
    margin-top: 25px;

}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 150px;

    padding-bottom: 20px;

}

.twitter-button,
.facebook-button,
.youtube-button {
    display: block;
    position: relative;
    vertical-align: middle;
    width: 13px;
    height: 19px;
    padding: 15px 17px 14px 16px;
}

.facebook-button svg,
.youtube-button svg,
.twitter-button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 10px;
}

.websiteby {
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 10px;
}

.social {
    text-align: center;
}

.social {
    list-style: none;
}

.social-button {
    color: #ffffff;

    background-color: #81b3d2;
}

.social-button svg {
    fill: #ffffff;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active svg {
    fill: #88b6d1;
}

.academy-link {
    width: 115px;
    height: 41px;

    -ms-flex-item-align: center;

        align-self: center;
}

.academy-link svg {
    fill: #000000;
}

.academy-link:hover svg,
.academy-link:focus svg {
    fill: #81b3d2;
}

.academy-link:active svg {
    fill: rgba(0, 0, 0, 0.3);
}


.filters {
    color: #ffffff;

    background-color: #333333;
    background-image: url("../img/filter-hotels-background.jpg");
    background-repeat: no-repeat;

    width: 1200px;

    padding-top: 15px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
}

.filters h2 {
    font-size: 16px;
}

.filters-hotel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.checkbox-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;

    width: 465px;
    padding-left: 32px;
}

.infastructure-form {
    margin-left: 5px;
}

.hotel-type-form {
    margin-left: 50px;
}

.filters p {
    margin-top: 22px;
    margin-bottom: 25px;
    text-align: left;
}

.hotel-type-form p {
    text-align:
}

.price-form {
    padding-right: 75px;
    margin-bottom: 33px;
}

.price-form h2 {
    margin-bottom: 7px;
}

.filters-hotel input[type="checkbox"] {
    display: none;
}

.filters-hotel input[type="checkbox"] + label {
    display: block;
    padding-left: 40px;
    position: relative;
    cursor: pointer;
}

.filters-hotel input[type="checkbox"] + label::before {
    content: url("../img/checkbox-off.svg");

    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;

    font-size: 40px;
}

.filters-hotel input[type="checkbox"][disabled] + label::before {
    content: url("../img/checkbox-off-disabled.svg");

    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;

    font-size: 40px;

}

.filters-hotel input[type="checkbox"]:checked + label::before {
    content: url("../img/checkbox-on.svg");
}

.filters-hotel input[type="checkbox"][disabled]:checked + label::before {
    content: url("../img/checkbox-on-disabled.svg");
}

.price-controls {
    position: relative;
    height: 34px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;

    font-size: 14px;
    line-height: 38px;
    vertical-align: top;

    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 100px;
    padding-left: 45px;
}

.price-controls .min-price {
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 3px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    width: 4.4px;
    height: 3.4px;

    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.button-show-results {
    margin-left: 84px;
    padding: 6px 30px 6px 35px;

    font-size: 14px;
    font-family: inherit;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.button-show-results:hover {
    color: #000000;

    background: #ffffff;
}

.catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;

    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 7px;

}

.sorting-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;

    position: absolute;
    left: 235px;
    bottom: 16px;

    font-size: 12px;
}


.sorting-inscription {
    display: inline-block;
    width: 115px;
}

.most-least-range {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    right: 75px;
    top: 33px;

    width: 35px;
}

.catalog-hotels {
    padding-left: 0;
}

.hotel-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 1200px;
    border-top: 1px solid #e5e5e5;

    padding: 28px 73px 30px 72px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.hotel-wrap:nth-child(3) {
    padding-top: 27px;
}

.hotel-wrap:nth-child(4) {
    padding-top: 26px;
}

.hotel-info-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 425px;
}

.hotel-info-wrap img {
    margin-top: 3px;
}

.hotel-detail-book-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;

    width: 260px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.hotel-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 182px;
    margin-top: 4px;
}

.hotel-detail-book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 15px;
    width: 258px;
}

.hotel-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.rating-star {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 89px;
}

.rating-star.three-stars {
    width: 65px;
}

.rating-star.two-stars {
    width: 41px;
}

.rating-number {
    background-color: #f2f2f2;
    padding: 2px 15px 2px 15px;
}

.catalog-hotels:last-child {
    border-bottom: 1px solid #e5e5e5;
}


.sorting-range {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 240px;
    margin-top: 0;
    padding-left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.found-inscription {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-top: 0px;
}

.sorting-inscription {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.sorting-active {
    color: #81b3d2;
}

.sorting-unactive {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: dotted 1px rgba(0, 0, 0, 0.3);
}

.sorting-unactive:hover,
.sorting-unactive:focus {
    color: #81b3d2;
    border-bottom: dotted 1px #81b3d2;
}

.sorting-unactive:active {
    color: #000000;
    border-bottom: none;
}


.most-least-range svg {
    fill: #cacaca;
}

.least-most-sort svg {
    fill: #81b3d2;
}

.most-least-sort:hover svg,
.most-least-sort:focus svg {
    fill: #231f20;
}

.most-least-sort:active svg {
    fill: #81b3d2;
}