body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.intro-text,
.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.catalog-item .button-type1 {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
    
    background-color: #766357;
	border: none;
}

.catalog-item .button-type1:hover,
.catalog-item .button-type1:focus {
	background-color: #604e43;
}

.catalog-item .button-type1:active {
    color: rgba(255, 255, 255, 0.302);

	background-color: #503e33;
}


.catalog-item .button-type2 {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
    
    background-color: #81b3d2;
	border: none;
}

.catalog-item .button-type2:hover,
.catalog-item .button-type2:focus {
	background-color: #669ec0;
}

.catalog-item .button-type2:active {
    color: rgba(255, 255, 255, 0.302);

	background-color: #5496bd;
}

.visually-hidden {
	visibility: hidden;
}

.intro {
    width: 1200px;
    height: 773px;     	

    background-image: url("../img/BackgroundPhoto.jpg");
}

.intro::after {
    width: 1200px;
    height: 57px;

	background-image: url("../img/MaskBackground.png") no-repeat;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;

	background-color: #ffffff;
}

.site-navigation,
.catalog li {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.main-navigation .current-link {
	color: #766357;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #c4dcea;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.catalog-item a {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;	
	color: #000000;
}

.catalog-item a:hover,
.catalog-item a:focus {
	color: #c4dcea;
}

.catalog-item a:active {
	color: rgba(0, 0, 0, 0.3);
}



.about {
	text-align: center;
}

.about h3 {
	font-size: 21px;
	line-height: 21px;	
}

.reason {
	list-style: none;
}

.reason-photo {
    color: #ffffff;

	background-color: #81b3d2;
}

.ordinary-reason {
	background-color: #eeeeee;
}

.hotel-search-form input {
	font: inherit;

	background-color: #f2f2f2;
	border: none;
}

.hotel-search-form input:hover {
	background-color: #ebebeb;
}

.hotel-search-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.main-footer {
	background-color: #ffffff;
}

.social {
	text-align: center;
}

.social {
	list-style: none;
}

.social-button {

	color: #ffffff;

	background-color: #81b3d2;
}

.social-button svg {
	fill: #ffffff;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active svg {
	fill: #88b6d1;
}

.academy-link {
	display: block;
	width: 115px;
	height: 41px;
}

.academy-link svg {
	fill: #000000;
}

.academy-link:hover svg,
.academy-link:focus svg {
	fill: #81b3d2;
}

.academy-link:active svg {
	fill: rgba(0, 0, 0, 0.3);
}


.filters {
	color: #ffffff;

	background-color: #333333;
	background-image: url("../img/filter-hotels-background.jpg");
	background-repeat: no-repeat;
}

.found-inscription {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.sorting-inscription {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.sorting-active {
	color: #81b3d2;
}

.sorting-unactive {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: dotted 1px rgba(0, 0, 0, 0.3);
}

.sorting-unactive:hover,
.sorting-unactive:focus {
	color: #81b3d2;
	border-bottom: dotted 1px #81b3d2;
}

.sorting-unactive:active {
	color: #000000;
	border-bottom: none;
}

.least-most svg {
	fill: #81b3d2;
}

.most-least svg {
	fill: #cacaca;
}

.least-most:hover svg,
.most-least:hover svg {
	fill: #000000;
}

.least-most:active svg,
.most-least:active svg {
	fill: #81b3d2;
}


